{% extends 'index.html' %}

{% block contenido %}
<main class="contenedor">

    <div class="titulo-tabla">
        <h2>Autores</h2>
        <a href="{% url 'autor_form' %}" class="btn">
            <i class="fa fa-lg fa-plus" ></i>
        </a>
    </div>

    <table>

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre del Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for a in autores %}
            <tr>
                <td>{{a.id}}</td>
                <td>{{a.nombre}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</main>
{% endblock contenido %}